@page "/Account/RegisterConfirmation"

@using System.Text
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using TasksManager.AuthUI.Data

@inject UserManager<ApplicationUser> UserManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Confirmación de registro</PageTitle>

<h1>Confirmación de registro</h1>

<StatusMessage Message="@statusMessage" />

@if (emailConfirmationLink is not null)
{
    <p>
        Esta aplicación actualmente no tiene un remitente de correo electrónico real registrado, consulte 
        <a href="">Documentos relacionados al tema</a> para saber cómo configurar un remitente de correo electrónico real.
        Normalmente esto se enviaría por correo electrónico:
        <MudLink Href="@emailConfirmationLink" Typo="Typo.h5">
            Haga click aqui para confirmar resgitro
        </MudLink>
@*         <a href="@emailConfirmationLink">
            Haga clic aquí
        para confirmar su cuenta</a> *@
    </p>
}
else
{
    <p>Por favor revise su correo electrónico para confirmar su cuenta.</p>
}

@code {
    private string? emailConfirmationLink;
    private string? statusMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? Email { get; set; }

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Email is null)
        {
            RedirectManager.RedirectTo("");
        }

        var user = await UserManager.FindByEmailAsync(Email);
        if (user is null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            statusMessage = "Error al encontrar el usuario para el correo electrónico no especificado";
        }
        else if (EmailSender is IdentityNoOpEmailSender)
        {
            // Una vez que agregue un remitente de correo electrónico real, debe eliminar este código que le permite confirmar la cuenta.
            var userId = await UserManager.GetUserIdAsync(user);
            var code = await UserManager.GenerateEmailConfirmationTokenAsync(user);
            code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));
            emailConfirmationLink = NavigationManager.GetUriWithQueryParameters(
                NavigationManager.ToAbsoluteUri("Account/ConfirmEmail").AbsoluteUri,
                new Dictionary<string, object?> { ["userId"] = userId, ["code"] = code, ["returnUrl"] = ReturnUrl });
        }
    }
}