@page "/Account/ResetPasswordConfirmation"
<PageTitle>Restablecer confirmación de contraseña</PageTitle>

<h1>Restablecer confirmación de contraseña</h1>
<p>
    Su password se ha reestablecido. Por favor <a href="Account/Login">click aqui para ingresar</a>.
</p>
