@* @using MudBlazor *@

@inherits LayoutComponentBase

<PageTitle>Task Manager</PageTitle>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @* <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <a href="" target="">
                        <img src="assets/images/evotec.png" alt="Logo evotec.cl" width="100" height="40" />
                    </a>
                </Authorized>                
            </AuthorizeView>            
        </div> *@

        <MudAppBar Color="Color.Primary" Fixed="false" Elevation="0">
            <AuthorizeView>
                <Authorized>
                    @* <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" /> *@
                    <MudSpacer />
                    <MudImage 
                        Src="assets/images/evotec.png" 
                        Alt="Logo evotec.cl" 
                        Elevation="25" 
                        Class="rounded-lg" 
                        Width="80"
                        Height="30"/>
                </Authorized>
            </AuthorizeView>
        </MudAppBar>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Un error no controlado ha ocurrido.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
