@page "/"

<PageTitle>Inicio de la aplicación</PageTitle>

<AuthorizeView>
    <Authorized>
        <Listar />
    </Authorized>
    <NotAuthorized>
        <div class="list-item" style="font-size:20px">
            Debe estar autenticado para ver las tareas.
        </div>
    </NotAuthorized>
</AuthorizeView>